{% extends 'base.html.twig' %}
{% block title %}{{ event.name }}{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1>{{ event.name }}</h1>
        </div>
        <div class="card-body">
            <p><strong>Date :</strong> {{ event.date|date('d/m/Y H:i') }}</p>
            <p><strong>Localisation :</strong> latitude:  {{ event.latitude }} , longitude: {{ event.longitude }} longitude</p>
        </div>
    </div>

    <div class="mt-4">
        <h2>Participants</h2>
        {% if participantsWithDistance|length > 0 %}
            <ul class="list-group">
                {% for item in participantsWithDistance %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <p>{{ item.participant.name }}</p>
                        <p class="text-muted">{{ item.participant.email }}</p>
                        <p>Vous êtes à <strong style="color:red;">{{ item.distance }}km</strong> de l'événement.</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-info" role="alert">
                Aucun participant inscrit pour le moment.
            </div>
        {% endif %}
        <a href="{{ path('add_participant', {'eventId': event.id}) }}" class="btn btn-primary mt-3">Ajouter un participant</a>
    </div>

    <div class="mt-4">
        <a href="{{ path('event_list') }}" class="btn btn-secondary">Retour à la liste des événements</a>
    </div>
</div>

{% endblock %}


